body { background: #e0bd48; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 29px; display: flex; }
.block-helper-0 { color: #a8c9da; font-size: 12px; margin-bottom: 5px; }
.block-cluster-1 { color: #6c0799; font-size: 15px; margin-bottom: 5px; }
.block-logger-2 { color: #1e7cc4; font-size: 21px; margin-bottom: 5px; }
.block-payment-3 { color: #922726; font-size: 20px; margin-bottom: 5px; }
.block-shipping-4 { color: #79be77; font-size: 13px; margin-bottom: 5px; }
.block-cluster-5 { color: #c0f34c; font-size: 13px; margin-bottom: 5px; }
.block-database-6 { color: #9547b3; font-size: 20px; margin-bottom: 5px; }